body {
  background: cadetblue;
}

.row .cell {

}

.row {
  height: 50px;
}

.cell {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 1px solid black;
}

.team_one {
  background: red;
}

.team_two {
  background: yellow;
}
