body {
  background: cadetblue;
}
section{
  margin: 0 auto;
}

.row {
  height: 64px;
}

.cell {
  height: 64px;
  width: 64px;
  display: inline-block;
  border: 1px solid black;
}

.team_one {
  background-image: url('images/idle.gif');
}

.team_one.attack {
  background-image: url('images/stand_shot.gif')
}

.team_one.spin {
  background-image: url('images/spin.gif')
}

.team_two {
  background-image: url('images/idle_flop.gif');
}

.team_two.attack {
  background-image: url('images/stand_shot_flop.gif')
}

.team_two.spin {
  background-image: url('images/spin_flop.gif')
}

