body {
  background-image: url('images/wall.jpg');
  background-size: cover;
  background-repeat: no-repeat
}
section{
  display: inline-block;
  vertical-align: top;
}

.board {
  width: 680px;
}

.actionboard {
  width: 320px;
  font-size: 30px;
}

.actionboard div{
  border: 1px solid white;
  color: white;
  padding: 9px;
}

.row {
  height: 64px;
}

.cell {
  height: 64px;
  width: 64px;
  display: inline-block;
  border: 1px solid white;
}

.team_one {
  background-image: url('images/idle.gif');
}

.team_one.attack {
  background-image: url('images/stand_shot.gif')
}

.team_one.spin {
  background-image: url('images/spin.gif')
}

.team_two {
  background-image: url('images/idle_flop.gif');
}

.team_two.attack {
  background-image: url('images/stand_shot_flop.gif')
}

.team_two.spin {
  background-image: url('images/spin_flop.gif')
}

